{% extends "base.html.twig" %}

{% block body %}
<div class="blockCenterForm">

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.probleme) }}
    {{ form_end(form) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}

 </div>

{% endblock %}