{% extends "base.html.twig" %}

{% block body %}
<<<<<<< HEAD
<div class="blockCenterForm">
	    {{ form_start(form) }}
	    {{ form_row(form.title) }}
	    {{ form_row(form.description) }}
	    {{ form_end(form) }}
	 <div>
	    {{ form_errors(form.title) }}
	    {{ form_widget(form.title) }}
	 </div>

=======
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.probleme) }}
    {{ form_row(form.date) }}
    {{ form_end(form) }}
 <div>
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
>>>>>>> 79dd98e3bc85d42017ba381ebf547dc9f715a3c8
 </div>

{% endblock %}