{% extends "base.html.twig" %}
{% block body %}
    <a href="{{ url("ticket.add") }}"><button class="btn btn-success">Ajouter un ticket</button></a>
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Émetteur</th>
            <th>Modification</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.title }}</td>
                <td class="dateTicketAll">{{ticket.date|date('d/m/Y H:i') }}</td>
                <td class="emetteurTicketAll">{{ ticket.user.username }}</td>
                <td>
                    <a href="{{ url("ticket.show", {"ticket":ticket.id}) }}"><button class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de contenu dispo</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}